apiVersion: apps/v1
kind: Deployment
metadata:
  name: copilot-server
spec:
  template:
    spec:
      containers:
        - name: copilot-server
          resources:
            requests:
              cpu: "50m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          env:
            - name: RUST_LOG
              value: "debug"
            - name: RUST_BACKTRACE
              value: "full"
